* {
    align-items: center;
    text-align: center;
    text-shadow: 4px 2px 8px rgb(77, 76, 76);
    padding-top: 2px;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 3px;

}
h1{
    color: goldenrod;
    
}

body {
    background:repeating-linear-gradient(to left, #e75465, #6fa2bd);
}

#stickyNotePage {
    height: 500px;
    width: 800px;
    margin-left: 225px;
    background-color: #fff;
    border-radius: 50px;
    box-shadow: 10px 5px 5px black;
    border:3px solid #333 ;
}

.sticky-note {
    width: 200px;
    height: 200px;
    background-color: #f8c93b;
    position: relative;
    cursor: move;
    padding: 10px;
    float: left;
    border-radius: 5px;
    box-shadow: 1px 1px 1px 1px ;
    border: 8px  #333 ;
}

.sticky-note .remove {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #333;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease;
}

.sticky-note .remove:hover {
    color: #FF0000;
}

#taskInput {
    width: 50%;
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #fff;
    border-radius: 3px;
    box-shadow: 1px 1px 3px;
}

#taskInput:hover{
    border-color: #3f8b41;
}


#addNoteBtn {
    padding: 8px 16px;
    background-color: #3f8b41;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 1px 1px 1px black;
    letter-spacing: 3px;
    border:1px solid  #333;
}

#addNoteBtn:hover {
    background-color: #d1e8e9;
    color: rgb(17, 24, 17);
    border: 1px solid gray;
}

#notesContainer {
    position: relative;
    margin-top: 20px;
    min-height: 200px;

    
}